# Supabase
VITE_SUPABASE_URL=https://rlfohdeujwvamiosfmoc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Uv_Ej1ZVrYJCeuPmHRksLQ_3MSZXC3u

# TMDB
VITE_TMDB_API_KEY=b5d1cee6bf3e1271b0f6e6e6bbef3d28

# Stream Bot URL (for development)
VITE_STREAM_BOT_URL=http://localhost:8080
