node_modules
dist
build
.env
*.session
__pycache__
*.pyc
logs/
archive-bot-old/
tg-filestreambot/.git
tg-harvest/.git
tinode/.git
opentogethertube/.git
tmd/.git
vega-frontend/.git
frontend/node_modules
frontend/build
.turso
.vercel
