@import '@fontsource-variable/space-grotesk/wght.css';
@import '@fontsource-variable/inter/wght.css';
@import '@fontsource-variable/inter/wght-italic.css';
@import '@fontsource-variable/noto-sans-arabic/wght.css';
@import '@fontsource/jetbrains-mono/300.css';
@import '@fontsource/jetbrains-mono/400.css';
@import '@fontsource/jetbrains-mono/500.css';
@import '@fontsource/jetbrains-mono/600.css';
@import '@fontsource/jetbrains-mono/700.css';

@font-face {
  font-family: 'Space Grotesk Variable';
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Variable';
  font-weight: 100 900;
  font-display: swap;
}
